<button class="show-form-btn" (click)="toggleFormChangePassword()">
  Alterar senha
</button>

<form
  *ngIf="showFormChangePassword"
  (ngSubmit)="onSubmitChangePassword()"
  [formGroup]="changePasswordForm"
  #formDir="ngForm"
  class="form-password default-form"
>
  <label>
    Senha antiga
    <input
      type="password"
      formControlName="oldPassword"
      placeholder="Digite sua senha antiga"
    />
    <div *ngIf="oldPassword.invalid && formDir.submitted">
      <p class="error-message" *ngIf="oldPassword.errors?.['required']">
        A senha antiga deve ser preenchida
      </p>
    </div>
  </label>

  <label>
    Nova senha
    <input
      type="password"
      formControlName="newPassword"
      placeholder="Digite sua nova senha"
    />
    <div *ngIf="newPassword.invalid && formDir.submitted">
      <p class="error-message" *ngIf="newPassword.errors?.['required']">
        A nova senha deve ser preenchida
      </p>
    </div>
  </label>

  <p class="error-message" *ngIf="changePasswordErrorMessage">
    {{ changePasswordErrorMessage }}
  </p>
  <button class="default-btn">Enviar</button>
</form>
