<div class="overlay" (click)="closeModalAddUser()"></div>

<div class="modal-container">
  <button class="close-btn" (click)="closeModalAddUser()">X</button>

  <form
    (ngSubmit)="onSubmitCreateUser()"
    [formGroup]="formCreateUser"
    class="default-form"
    #formDir="ngForm"
  >
    <label>
      Email:
      <input type="email" formControlName="email" placeholder="Email" />
      <div *ngIf="email.invalid && formDir.submitted">
        <p class="error-message" *ngIf="email.errors?.['required']">
          O email deve ser preenchido
        </p>
      </div>
    </label>
    <label>
      Senha:
      <input type="password" formControlName="password" placeholder="Senha" />
      <div *ngIf="password.invalid && formDir.submitted">
        <p class="error-message" *ngIf="password.errors?.['required']">
          A senha deve ser preenchida
        </p>
      </div>
    </label>
    <label>
      Cargo:
      <select formControlName="role">
        <option *ngFor="let role of userRoles" [value]="role.value">
          {{ role.label }}
        </option>
      </select>
      <div *ngIf="role.invalid && formDir.submitted">
        <p class="error-message" *ngIf="role.errors?.['required']">
          O cargo deve ser preenchido
        </p>
      </div>
    </label>

    <p class="error-message" *ngIf="createUserErrorMessage">
      {{ createUserErrorMessage }}
    </p>
    <button class="default-btn">Enviar</button>
  </form>
</div>
