.card-user {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  min-width: 200px;

  p {
    margin: 8px 0;
  }
  
  .title-card {
    font-weight: bold;
  }
}


